# markdown syntax for documentation
## heading2
### heading 3
#### heading4
##### heading 5
###### heading6

Machine **Learning** using python

#### Jupyter Notebook shortcuts

**shift enter**

to run the current cell as well as if there is no cells below create new cell

**esc m**


to change any cell into markdown cell

**esc y**

to change any cell into code cell

**esc a**


to create new cell above the current cell

**esc b**

to create new cell below the current cell

**esc d d**

to delete the current cell

**To add links in the markdown**

[Google](https://www.google.com)

![myimage](https://www.python.org/static/img/python-logo.png)

##### Ordered list
1. Samsung
2. Redmi

##### unordered items
* item1
* item2
* item3

**I want to read the diagnosis.csv**

In [1]:
import pandas as pd

In [3]:
dataframe = pd.read_csv('diagnosis.csv')
print(dataframe)

      name  feaver_temperature
0      sai                98.0
1     ramu               100.0
2  lakshmi              1000.0
3   rakesh                 NaN
4   rajesh               108.0

**How many columns in this df**

In [4]:
dataframe.columns

Index(['name', 'feaver_temperature'], dtype='object')

**How many rows or samples in this df**

In [5]:
dataframe.shape # rows,columns

(5, 2)

**Is there any missing values?**

In [8]:
dataframe.isna().sum()

name                  0
feaver_temperature    1
dtype: int64

In [9]:
dataframe.isna()

    name  feaver_temperature
0  False               False
1  False               False
2  False               False
3  False                True
4  False               False

**Numpy arrays**
**Pandas mainly for data manuipulation**

**matplotlib and seaborn visualisation**

**sklearn for machine learning algorithm**