##  Good Evening To All

In [1]:
# Today Topics
## Data Preprocessing for label data encoding
## Decision Tree

In [2]:
# label data encoding is a multiple ways:
#1.lable Encoder
# 2.onehot Encoding
#3.get_dummies

In [3]:
d = {"sname" : ['ravi','ayyappa','prabhukumari','chotu','anil','uma'],
     "gender" : ['Male','Male','Female','Female','Male','Male'],
     "marriedstatus" : ['unmarried','unmarried','unmarried','unspecified','married','married'],
     "is_bool" : ['True','False','True','True','False','False']}

In [4]:
d

{'sname': ['ravi', 'ayyappa', 'prabhukumari', 'chotu', 'anil', 'uma'],
 'gender': ['Male', 'Male', 'Female', 'Female', 'Male', 'Male'],
 'marriedstatus': ['unmarried',
  'unmarried',
  'unmarried',
  'unspecified',
  'married',
  'married'],
 'is_bool': ['True', 'False', 'True', 'True', 'False', 'False']}

In [5]:
import pandas as pd
df = pd.DataFrame(d)

In [6]:
df

          sname  gender marriedstatus is_bool
0          ravi    Male     unmarried    True
1       ayyappa    Male     unmarried   False
2  prabhukumari  Female     unmarried    True
3         chotu  Female   unspecified    True
4          anil    Male       married   False
5           uma    Male       married   False

In [7]:
## Label Encoder
## Importting Data Precessing lib
from sklearn.preprocessing import LabelEncoder
labelObj = LabelEncoder()

In [8]:
labelObj.fit(df['gender'])

LabelEncoder()

In [9]:
df['gender'] = labelObj.transform(df['gender'])

In [10]:
df

          sname  gender marriedstatus is_bool
0          ravi       1     unmarried    True
1       ayyappa       1     unmarried   False
2  prabhukumari       0     unmarried    True
3         chotu       0   unspecified    True
4          anil       1       married   False
5           uma       1       married   False

In [11]:
labelObj.classes_

array(['Female', 'Male'], dtype=object)

In [12]:
# onehot Encoding
#importing lib
import numpy as np

In [13]:
df['marriedstatus'].value_counts

<bound method IndexOpsMixin.value_counts of 0      unmarried
1      unmarried
2      unmarried
3    unspecified
4        married
5        married
Name: marriedstatus, dtype: object>

In [14]:
from sklearn.preprocessing import OneHotEncoder

onehot=OneHotEncoder()
onehot.fit(df[['marriedstatus']])
newDataFrame = pd.DataFrame(onehot.transform(df[['marriedstatus']]).toarray())

In [15]:
onehot.categories_

[array(['married', 'unmarried', 'unspecified'], dtype=object)]

In [16]:
df.head(2)

     sname  gender marriedstatus is_bool
0     ravi       1     unmarried    True
1  ayyappa       1     unmarried   False

In [17]:
df = df.join(newDataFrame)

In [18]:
df.head(2)

     sname  gender marriedstatus is_bool    0    1    2
0     ravi       1     unmarried    True  0.0  1.0  0.0
1  ayyappa       1     unmarried   False  0.0  1.0  0.0